
body{
    color: antiquewhite;
    background:-webkit-linear-gradient(top, #05041C,rgb(43, 43, 48));
    background-repeat: no-repeat;
    text-align: center;
}
p{
    font-style:inherit;
    font-size: 45px;
    
}
a{
    color:rgb(117, 0, 68);
    font-size: 25px;
}
h1 {
    font-size: 60px;
    text-align: center;
}