a{
    font-size: 30px;
}
div{ display: flex; flex-direction: column;


}
caption{
    text-align: center;
    font-size: 30px;
    margin:40px 0px;
    background-color: aliceblue;
    color: black;
    padding:5px;
    
    
}
table{
    
    border-spacing: 40px;
    border: 1px solid;
    border-color: aliceblue;
    table-layout: fixed;
    width: 100%;
    font-style: unset;

}
td{
    font-size: 25px;
}
th div{
    font-size: 40px;
    border: 1px solid;
    border-color: aliceblue;
    margin-right: 50px;
    margin-left: 50px;
    margin-top: -10px;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 25px;
;}

p.blanc{text-align: center;
    font-size: 30px;
    margin:-10px 8px;
    background-color: aliceblue;
    color: black;
    padding:5px;}

p.trofeo{text-align: center;

}
p.blanc1{text-align: center;
    font-size: 30px;
    margin-right: 130px;
    margin-left: 130px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    color: black;
    padding:30px;}

p.blanc12{text-align: center;
    font-size: 30px;
    margin-right: 250px;
    margin-left: 250px;
    margin-top: -10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    color: black;
    padding:30px;

}
hr.fr{margin-top: -10px;
margin-bottom: 50px;}

hr{margin-top: -10px;
    margin-bottom: 50px;
    width:170px;
    size: 5px;
    color: white;}

